<!-- sidbar -->
<div class="row">
    <div class="col-md-2 sidbar">
        <!-- button mobile sidbar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="bi bi-box-arrow-down"></i></span>
        </button>
        <!-- menu of sidbar -->
        <ul class="navbar-nav collapse navbar-collapse nav-pills content" id="navbarSupportedContent">
            <li class="nav-item boxlink">
                <a class="nav-link" [routerLink]="['./dashboard']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}"><img src="../../assets/icons/dashboard-5479.svg" width="16px"
                        height="16px" class="mx-2"><span>داشبورد</span></a>
            </li>
            <li class="nav-item boxlink">
                <a class="nav-link" [routerLink]="['./studen-list']" [routerLinkActive]="'active'"><img
                        src="../../assets/icons/user-268.svg" width="16px" height="16px" class="mx-2"><span>لیست
                        دانشجویان</span></a>
            </li>
            <li class="nav-item boxlink">
                <a class="nav-link" [routerLink]="['./cartable']" [routerLinkActive]="'active'"><img
                        src="../../assets/icons/send-mail-2574.svg" width="16px" height="16px" class="mx-2"><span>ارسال
                        پیام در کارتابل</span></a>
            </li>
            <li class="nav-item boxlink">
                <a class="nav-link" [routerLink]="['#']" [routerLinkActive]="'active'"><img
                        src="../../assets/icons/maps-location-11094 (1).svg" width="16px" height="16px"
                        class="mx-2"><span>نقشه دانشگاه</span></a>
            </li>
            <li class="nav-item boxlink">
                <a class="nav-link" [routerLink]="['#']" [routerLinkActive]="'active'"><img
                        src="../../assets/icons/search-1163.svg" width="16px" height="16px" class="mx-2"><span>بنرها و
                        تبلیغات</span></a>
            </li>
        </ul>
        <!-- logo azad university -->
        <div class="logo">
            <img src="../../assets/icons/azadlogo.jpg" class="logopic">
            <span class="logotitle">دانشگاه آزاد اسلامی</span>
        </div>
    </div>
</div>